* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body {
    background-color: #FFEAC9;
    height: 100%;
}

.main{
    display: flex;
    justify-content: space-around;
    height: 100%;

}

input, button{

    background-color: #fff;

}


/* PARTE DAS IMAGENS CHARMANDER*/

.container-imgs img {
    position: absolute;
}

.fundo {
    width: 38.11%;
    top:14%;
    left: 0%;
    z-index: 2;

}

.particulas {
   width: 80%;
    top: 4%;
    left: 8%;
    z-index: 1;
}

.charmander {
    width: 35%;
    top: 18%;
    left: 8%;
    z-index: 3;
}

.charmander {
    animation: crescer 1.2s ease-out forwards;
}

@keyframes crescer {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}


/* PARTE DO CADASTRO */
.container-login {
    display: flex;
    position: relative;
    background: linear-gradient(to bottom right, #FF5E00, #FAAD69);
    color: white;
    height: 68%;
    width: 29%;     
    top: 16%;
    left: 5%;
    border-radius: 5%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}


.login {
    text-align: center;
    font-size: clamp(1.6vw, 2.4vw, 2.8vw);

}

.informações {
    display: flex;
    font-size: clamp(0.8vw, 1vw, 1.1vw);
    flex-direction: column;
    justify-content: center;


}

input {
    width: 20vw;
    height: 5vh;
    border: none;
    border-radius: 5px;
    font-size: clamp(0.8vw, 1vw, 1.1vw);
    padding-left: 15px;
    
}

.ipt{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 15px;
}


   button{
    width: 50%;
    height: 8%;
    border: none;
    border-radius: 20px;
    font-size: clamp(1.2vw, 1.5vw, 1.8vw);
    color: #ff7700;
    padding: 0;
}
     
  /* IPAD  MINI */


  @media (max-width: 1024px){

    .Nav-Container{

        height: 8vw;
        justify-content: space-between;

    }

    #options{

        display: flex;
        padding-left: 10%;
        width: 15%;

    }
        
    .Nav-Options {

        display: none;
        
    }

    .Login{

        display: none;

    }

    .Cadastro {

        font-size: 1.2vw;

    }

    .Side-Container{

        position: fixed;
        left: 0;
        z-index: 1000;
        background-color: #343334;
        width: 50vw;
        height: 100vh;

    }

    .Side-Flex{

        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 5%;

    }

    #Close-Side{

        width: 7vw;
        position: absolute;
        right: 5%;

    }

    .Perfil {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        gap: 5%;

    }

    .Perfil img {

        width: 20vw;

    }

    .Button-Side {

        color: #FFFFFF;
        font-size: 2vw;
        font-weight: 600;
        width: 20vw;
        height: 7vw;
        border-radius: 10px;
        border: 2px solid #FFF;
        cursor: pointer;
        background-color: var(--Azul-miraidon);

    }

    .Side-Options {

        display: flex;
        flex-direction: column;
        align-items: start;
        color: #fff;
        font-size: 3vw;
        font-weight: 600;
        gap: 5%;
        
    }

    .Side-Logo{

        position: absolute;
        bottom: 5%;
        width: 15vw;

    }

    .Selected {

        display: flex;
        align-items: center;
        gap: 5%;

    }

   .main{
    display: flex;
    justify-content: center;
}


    .container-login{
    position: sticky;
    width: 57vw;
    height: 76vw;
}

    .login{
    font-size: 35px;

    }

    input {
    width: 320px;
    height: 40px;
}

    .ipt{
        font-size: 18px;

    }

.fundo {
    width: 60%;
    top:51%;
    left: 8%;
    z-index: 2;

}

.particulas {
   width: 100%;
    top: 50%;
    left: 2%;
    z-index: 1;
}


.charmander {
    width: 45%;
    top: 65%;
    left: 2%;
    z-index: 3;
    animation: none;
    transform: scaleX(-1) rotate(-15deg);

}

button{
    font-size: 22px;
}
  }
          

          